{% block custom_matrix_field %}
	{% set fieldData = field.value.rows %}
	
	<div class="ez-scrollable-table-wrapper">
		<table class="ez-table table table-hover ez-table--no-bordered-top">
			<thead>
			<tr>
				<th>1</th>
				<th>2</th>
				<th>3</th>
			</tr>
			</thead>
			<tbody>
			{% for data in fieldData %}
				<tr>
					<td>{{ data.cells['first']|default }}</td>
					<td>{{ data.cells['second']|default }}</td>
					<td>{{ data.cells['third']|default }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
